cat > .gitignore <<'EOF'
venv/
.idea/
__pycache__/
*.pyc
models/
.env
logs/*
!logs/.gitkeep

results/*
!results/.gitkeep
!results/*.png

models/*
!models/.gitkeep
!models/README.md

data/*
!data/.gitkeep
!data/README.md
EOF